AddDefaultCharset utf-8
ErrorDocument 404 /error.php

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^www\.pravo-spb\.net [NC]
RewriteCond %{HTTP_HOST} !^www\.pravo-spb\.dev [NC]
RewriteCond %{HTTP_HOST} !^pravo-spb\.dev [NC]
RewriteRule (.*) http://www.pravo-spb.net/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://%{HTTP_HOST}/ [R=301,L]

RewriteRule ^\.htaccess - [F]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]


