AddDefaultCharset utf-8
ErrorDocument 404 /error

RewriteEngine On
RewriteBase /


RewriteRule ^\.htaccess - [F]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]


